#tournament{
  position:relative;
  float:left;
  width:100%;
  height:90%;
  background-color:#BBBBBB;
}

#adminbar{
  position:relative;
  height:100%;
  width: 300px;
  border:1px solid black;
}
.title{
  text-decoration:underline;
  text-align:center;
  font-size:18pt;
}
#description{
  margin: 5px;
}

#memberList{
  margin:5px;
}
.player{
  width:90%;
}
#adminList .player{
  margin: 5px;
  background-color: #7EC1FA;
}
#bootedList .player{
  margin: 5px;
  background-color:#F07778;
}
#playerList .player{
  margin:5px;
  background-color:#89FBBA;
}

#expandBar{
  display:none;
  float:left;
  height:100%;
  width:35px;
  border:1px solid black;
}
#expandBar .icon{
  position:absolute;
  top: 50%;
  width: 35px;
  height:35px;
  background: url(graphics/expandIcon.png) no-repeat;
  background-size:35px 35px;
}
#bar{
  float:right;
  height:100%;
  width: 35px;
}
#bar #icon{
  margin: auto;
  position:absolute;
  top: 50%;
  width:35px;
  height:35px;
  background-size:35px 35px;
}
#bar .expanded{
  background: url(graphics/unexpandIcon.png) no-repeat;
}
#bar .collapsed{
  background: url(graphics/expandIcon.png) no-repeat;
}
#buttons{
  position:absolute;
  right:0;
  bottom:0;
}
#makeAdminBtn{
  float:right;
  clear:right;
}
#bootBtn{
  float:right;
  clear:right;
}

#bracket{
  position:absolute;
  top:0;
  left:33%;
  width:800px;
  height:800px;
  margin:auto;
}
